@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0b;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
